.a{

    color:rgb(2, 2, 79);
    margin: 0;
    text-decoration: none;
}
.c{
    background: #c6bfd8;
}
.n{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #e7f2c2;
    color: white;
   
}